#pragma once

// WiFi Credentials
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASS "YOUR_WIFI_PASSWORD"

// Tapo Credentials
#define TAPO_USER "YOUR_TAPO_EMAIL"
#define TAPO_PASS "YOUR_TAPO_PASSWORD"
